<div style="margin: 15px; display:flex;flex-direction: column;" class="mat-elevation-z1">
	<div class="list" *ngFor="let washingMachine of washingMachines">
		<div class="image-wrapper">
			<img [src]="washingMachine.pic"/>
    </div>
			<div>
				<div class="product-name">
					{{washingMachine.name}} {{washingMachine.spinSpeed}}
				</div>
				<ul>
					<li *ngFor="let desc of washingMachine.desc">
						{{desc}}
					</li>
				</ul>
			
			</div>
			<div class="price">₹{{washingMachine.price}}</div>
			<!-- <button (click)="addToCart(product?.id)" *ngIf="product?.quantity >= 1" class="add-to-cart-btn"><i
				class="fa fa-shopping-cart"></i>Add To Cart
			  </button> -->
			
</div>

</div>
     