<div class="container">
  <div class="div1">
   <h1>Login2</h1>
   <p>We do not share your personal details with anyone.</p>
  </div>
  <div class="div2">
  <!-- <form name="form" action="Register()" method="post"> -->
  <mat-form-field class="input1">
  <input matInput placeholder="Enter Email" name="customerEmail">
  </mat-form-field>
  
  <input type="submit" class="btn1"/>Register
    <a href="" class="a1">Existing User?</a>
    <a href="" class="a2">Log in</a>
  <!-- </form> -->
  </div>
</div>