<div *ngIf="isLogin" class="container">
	<div class="div1">
		<h1>Login</h1>
		<p>Get access to your Orders, Wishlist and Recommendations</p>
	</div>
	<div class="div2">
		<!-- {{loginform.value | json}} -->
		<form novalidate [formGroup]="loginform">
		<mat-form-field class="input1">
			<input matInput placeholder="Enter Email" formControlName="email" type="email" id="email">
    </mat-form-field>
			<mat-form-field class="input2">
				<input matInput placeholder="Enter Password" formControlName="password" type="password" id="password">
    </mat-form-field>
				<input (click)="Login()" type="button" value="Login" class="btn1">
				<button class="a1" (click)=reg()>New to Flipkart?Create an account</button>
			</form>	
			</div>
	</div>
	
	<div *ngIf="!isLogin" class="container">
		<div class="div1">
			<h1>Register</h1>
			<p>We do not share your personal details with anyone.</p>
		</div>

		<div class="div2">
			<!-- {{myform.value | json}} -->
			<form novalidate [formGroup]="myform">
				<mat-form-field class="input1">
				<input id="firstname" type="text" formControlName="firstname" matInput placeholder="First Name"></mat-form-field>
				<mat-form-field class="input1">
				<input id="lastname" type="text" formControlName="lastname" matInput placeholder="Last Name"></mat-form-field>
				<mat-form-field class="input1"><input id="email" type="email" formControlName="email" matInput placeholder="Enter Email"></mat-form-field>
				<mat-form-field class="input1"><input id="password" type="password" formControlName="password" matInput placeholder="Password"></mat-form-field>-

				<input (click)="Register()" type="button" value="Register" class="btn1">
				<button class="a1" (click)="isLogin = !isLogin" >Existing User?Login</button>
				</form>
		</div>

	</div>
	<!-- <div *ngIf="!isLogin">
	<app-register></app-register> -->

